<!DOCTYPE html>
<html>

    <head>
        <title>Rutgers Course Searcher++ | Courses</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/resources.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/course.css">
    </head>

    <body>
        <header>
            <% include ../partials/navbar %>
        </header>
        <% include ../partials/notification %>
        <div class="container-fluid">
            <div class="column-left">
                <div class="class-header">
                    <%
                    if (fullName) { %>
                    <span class="header-text" data-toggle="tooltip" data-placement="bottom" title="<%= fullName %>"><%= name %></span>
                    <%
                    } else { %>
                    <span class="header-text"><%= name %></span>
                    <%
                    }
                        %>
                    <% if(courseOpenStatus === 'OPEN') { %>
                    <!-- status: open -->
                    <span class="status open">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    <% } else { %>
                    <!-- status: closed -->
                    <span class="status closed">
                        <i class="fas fa-times-circle "></i>
                    </span>
                    <% } %>
                    <span class="fav-course">
                        <%
                        if (user) {
                            // probably not the most effecient implementation
                            if (favCourses.includes(courseFullNumber)) { %>
                                <i class="fas fa-heart"></i>
                            <%
                            } else { %>
                                <i class="far fa-heart"></i>
                            <%
                            }
                        }
                        %>
                    </span>
                </div>
                <div class="class-metadata">
                    <span class="subsubheader-text">Course #:</span><span class="metadata-number course-info-text"><%= courseFullNumber %></span>
                    <span class="subsubheader-text">Core Codes:</span><span class="metadata-number course-info-text"><%= coreCodesString %></span>
                    <span class="subsubheader-text">Credits:</span><span class="metadata-number course-info-text"><%= credits %></span>
                </div>
                <div class="class-prerequisites">
                    <span class="subheader-text bold">Required Prerequisites</span>
                    <br>
                    <span class="prereqs"><%- preReqs %></span>
                </div>
                <div class="class-description">
                    <span class="subheader-text bold">Description</span>
                    <div class="subheader-text spacer"></div>
                </div>
                <div class="description">
                    <p><%= description %></p>
                </div>
                <div class="class-sections table-responsive">
                    <span class="subheader-text bold">Sections</span>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sec</th>
                                <th>Index</th>
                                <th>Day/Time</th>
                                <th>Location</th>
                                <th>Instructor</th>
                                <th class="status-header">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% sections.forEach(function(section) { %>
                            <tr>
                                <td><a class="btn table-link" href="#" data-content="<%= section.notes %>" rel="popover" data-placement="bottom" data-original-title="Notes" data-trigger="hover" data-toggle="popover"><%= section.sectionNumber %></a></td>
                                <td><a class="btn table-link" href="#" data-content="<%= section.examCode %>" rel="popover" data-placement="bottom" data-original-title="Exam Code" data-trigger="hover" data-toggle="popover"><%= section.sectionIndex %></a></td>
                                <td>
                                    <% let i = 0; %>
                                    <% let meetingD = section.meetingModeDescs; %>
                                    <% section.dayTimes.forEach(function(dayTime) { %>
                                    <a class="table-link" href="#" data-content="<%= meetingD[i] %>" rel="popover" data-placement="right" data-original-title="Meeting Mode" data-trigger="hover" data-toggle="popover"><%= dayTime %><br></a>
                                    <% i++; %>
                                    <% }); %>
                                </td>
                                <td>
                                    <% section.locations.forEach(function(location) { %>
                                    <%= location %> <br>
                                    <% }); %>
                                </td>
                                <td><%- section.instructors %></td>
                                <td class="text-center">
                                    <% if (section.sectionOpenStatus === 'OPEN') {%>
                                    <span class="status open sections" data-toggle="tooltip" data-placement="top" title="Section is open! Click to toggle register button & class status">
                                        <i class="fas fa-check-circle class-open"></i>
                                    </span>
                                    <a class="btn btn-primary register-button bold" href="https://sims.rutgers.edu/webreg/editSchedule.htm?&indexList=<%= section.sectionIndex %>" role="button" target="_blank" data-toggle="tooltip" data-placement="top" title="Click to toggle register button & class status">Register</a>
                                    <% } else { %>
                                    <span class="status closed sections" data-toggle="tooltip" data-placement="top" title="Section is closed! Can't register.">
                                        <i class="fas fa-times-circle"></i>
                                    </span>
                                    <% } %>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column-right divider">
                <div class="class-rating">
                    <span class="header-text bold">Rating</span>
                    <span class="stars">
                        <% let fullStars = Math.floor(courseRating); %>
                        <% let halfStars = courseRating - fullStars; %>
                        <% let emptyStars = 5 - courseRating - halfStars; %>
                        <% for (let i = 0; i < fullStars; i++) { %>
                        <i class="fas fa-star"></i>
                        <% } %>
                        <% for (let i = 0.0; i < halfStars; i+=.5) { %>
                        <i class="fas fa-star-half-alt"></i>
                        <% } %>
                        <% for (let i = 0; i < emptyStars; i++) { %>
                        <i class="far fa-star"></i>
                        <% } %>
                    </span>
                </div>
                <div class="add-comments border rounded">
                    <% if (user && (userComment !== undefined && userComment.length !== 0)) { %>
                    <span class="subheader-text bold">Update your comment</span>
                    <form action="#" method="post">
                        <textarea class="form-control" name="newComment" type="text" placeholder="Enter your own thoughts and opinions about this course here!" required><%= userComment[0].comment %></textarea>
                        <span class="rating align-middle">
                            <label>
                                <input type="radio" name="newRating" value="1" <% if (userComment[0].rating === 1) {%> checked <% } %> required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="2" <% if (userComment[0].rating === 2) {%> checked <% } %> required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="3" <% if (userComment[0].rating === 3) {%> checked <% } %> required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="4" <% if (userComment[0].rating === 4) {%> checked <% } %> required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="5" <% if (userComment[0].rating === 5) {%> checked <% } %> required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                        </span>
                        <button type="submit" class="btn btn-primary comment-button ">Update Comment</button>
                    </form>
                    <% } else { %>
                    <span class="subheader-text bold">Comment on this course</span>
                    <form action="#" method="post">
                        <textarea class="form-control" name="newComment" type="text" placeholder="Enter your own thoughts and opinions about this course here!" required></textarea>
                        <span class="subsubheader-text">Rate this course:</span>
                        <span class="rating align-middle">
                            <label>
                                <input type="radio" name="newRating" value="1" required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="2" required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="3" required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="4" required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                            <label>
                                <input type="radio" name="newRating" value="5" required/>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                                <span class="icon"><i class="fas fa-star"></i></span>
                            </label>
                        </span>
                        <% if (user) { %>
                        <button type="submit" class="btn btn-primary comment-button ">Post Comment</button>
                        <% } else { %>
                        <span class="disabled-button-wrapper" data-toggle="tooltip" data-placement="auto" title="You must be logged in to comment!">
                            <button class="btn btn-primary comment-button" style="pointer-events: none;" type="button" disabled>Post Comment</button>
                        </span>
                        <% } %>
                    </form>
                    <% } %>
                </div>
                <div class="comments-header header-text">
                    <span>Comments</span>
                </div>
                <div class="class-comments">
                    <%
                    let year, day, month;
                    console.log('these are the comments', comments);
                    if (!Array.isArray(comments) || !comments.length) { %>
                    <h3>No comments posted yet!</h3>
                    <%
                    } else {
                        for(comment of comments) { %>
                    <div class="comment">
                        <div class="comment-text">
                            <p><%= comment.comment %></p>
                        </div>
                        <div class="comment-metadata">
                            <%
                            let hours = comment.date.getHours();
                            let minutes = comment.date.getMinutes();
                            let timestamp = `${comment.date.toDateString()} ${hours}:${minutes}`
                            %>
                            <span class="comment-date" data-toggle="tooltip" data-placement="top" title="<%= timestamp %>"><%= moment(comment.date).fromNow() %></span>
                            <span class="stars comment-stars">
                                <% for(let i = 0; i < comment.rating; i++) { %>
                                <i class="fas fa-star"></i>
                                <% } %>
                                <% for(let i = comment.rating; i < 5; i++) { %>
                                <i class="far fa-star"></i>
                                <% } %>
                            </span>
                        </div>
                    </div>
                    <% }
                    } %>
                </div>
            </div>
        </div>
        <a href="#" class="back-to-top">
            <i class="fas fa-arrow-circle-up"></i>
        </a>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="/js/course.js"></script>
        <script src="/js/resources.js"></script>
    </body>

</html>
